In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Atuona,PF,2021-10-30 04:04:03,-9.8000,-139.0333,78.06,67,5,11.03
1,1,Tiksi,RU,2021-10-30 04:04:03,71.6872,128.8694,-2.47,98,97,7.56
2,2,Rikitea,PF,2021-10-30 04:04:03,-23.1203,-134.9692,75.24,82,99,16.11
3,3,Abbeville,FR,2021-10-30 04:04:03,50.1000,1.8333,56.50,92,95,15.82
4,4,Yuryevets,RU,2021-10-30 04:04:04,57.3201,43.1041,43.68,91,100,14.74

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
    #temps.append(max(temp, 0))

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.isnull().sum().dropna()
preferred_cities_df.head(10)

What is the minimum temperature you would like for your trip? 55
What is the maximum temperature you would like for your trip? 80

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Atuona,PF,2021-10-30 04:04:03,-9.8000,-139.0333,78.06,67,5,11.03
2,2,Rikitea,PF,2021-10-30 04:04:03,-23.1203,-134.9692,75.24,82,99,16.11
3,3,Abbeville,FR,2021-10-30 04:04:03,50.1000,1.8333,56.50,92,95,15.82
7,7,Tshikapa,CD,2021-10-30 04:04:04,-6.4167,20.8000,68.25,98,100,1.70
8,8,Mataura,NZ,2021-10-30 04:04:05,-46.1927,168.8643,74.32,39,78,4.18
9,9,Antalaha,MG,2021-10-30 04:04:05,-14.9003,50.2788,74.35,82,100,5.97
11,11,Busselton,AU,2021-10-30 04:04:06,-33.6500,115.3333,63.55,51,6,6.85
12,12,Mar Del Plata,AR,2021-10-30 04:00:30,-38.0023,-57.5575,61.88,96,13,20.00
13,13,Westport,US,2021-10-30 04:04:06,41.1415,-73.3579,55.80,92,90,14.00
14,14,Carnarvon,AU,2021-10-30 04:04:06,-24.8667,113.6333,77.07,50,0,23.02

In [9]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
0          Atuona      PF     78.06  -9.8000 -139.0333
2         Rikitea      PF     75.24 -23.1203 -134.9692
3       Abbeville      FR     56.50  50.1000    1.8333
7        Tshikapa      CD     68.25  -6.4167   20.8000
8         Mataura      NZ     74.32 -46.1927  168.8643
9        Antalaha      MG     74.35 -14.9003   50.2788
11      Busselton      AU     63.55 -33.6500  115.3333
12  Mar Del Plata      AR     61.88 -38.0023  -57.5575
13       Westport      US     55.80  41.1415  -73.3579
14      Carnarvon      AU     77.07 -24.8667  113.6333

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Atuona,PF,78.06,-9.8000,-139.0333,Villa Enata
2,Rikitea,PF,75.24,-23.1203,-134.9692,People ThankYou
3,Abbeville,FR,56.50,50.1000,1.8333,Hôtel Mercure Abbeville Centre - Porte de la B...
7,Tshikapa,CD,68.25,-6.4167,20.8000,Hôtel Tshia-Muntu de Tshikapa
8,Mataura,NZ,74.32,-46.1927,168.8643,Ellie's Villa
9,Antalaha,MG,74.35,-14.9003,50.2788,Hotel Vitasoa
11,Busselton,AU,63.55,-33.6500,115.3333,Observatory Guest House
12,Mar Del Plata,AR,61.88,-38.0023,-57.5575,Gran Hotel Mar del Plata
13,Westport,US,55.80,41.1415,-73.3579,Norwalk Inn
14,Carnarvon,AU,77.07,-24.8667,113.6333,Hospitality Carnarvon

In [21]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [25]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))